@font-face {
    font-family: stretch pro;
    src: url(./fonts/StretchPro.otf);
}

@font-face {
    font-family: Nexa;
    src: url(./fonts/Nexa-Heavy.ttf);
}

@font-face {
    font-family: dunkin;
    src: url(./fonts/Dunkin.otf);
}




* {
    box-sizing: border-box;

}

body {
background-color: rgb(0, 170, 255);


}




header {
display: flex;
justify-content: center;
align-items: center;
font-family: stretch pro;
font-size: 45px;
height: 80px;
position: relative;
top: 30px;
color: rgb(255, 255, 255);

}

div {
display: flex;
align-items: flex-bas;
justify-content: center;
}

.card {
width: 700px;    /* Set the width of the box */
height: 300px;   /* Set the height of the box */
background-color: white;
border-radius: 40px;
position: relative;
top: 75px;
}

#taskButton {
position: relative;
width: 115px;
height: 60px;
background-color: rgb(245, 255, 129);
box-shadow: 2px 2.5px rgb(78, 78, 78);
left: 707px;
bottom: 10px;
border-radius: 40px; 
}

#taskButton {
position: relative;
font-family: dunkin;
font-size: 16px;
color:  rgb(177, 183, 0);
left: 712px;
top; 14px;
}

.input-field {

width: 400px;
padding: 20px;
font-size: 24px;
border-radius: 30px;
position: relative;
left: 560px;
bottom: 200px;
border-width: 5px;
border-color: rgb(0, 174, 255);
}


.checkbox {
transform: scale(4); /* Adjust the scale value to change the size */
-webkit-transform: scale(4); /* For Safari */
-moz-transform: scale(4); /* For Firefox */
-ms-transform: scale(4); /* For IE 9 */
-o-transform: scale(4); /* For Opera */
position: relative;
left: 75px;
bottom: 200px;





}

#taskButton:hover {
cursor: pointer;
background-color: rgb(253, 236, 88);
}

#taskButton:active {
    box-shadow: none;
    
}






