@font-face {
    font-family: stretch pro;
    src: url(./fonts/StretchPro.otf);
}


* {
    box-sizing: border-box;

}

body {
background-color: rgb(114, 210, 119);


}




header {
display: flex;
justify-content: center;
align-items: center;
font-family: stretch pro;
font-size: 45px;
height: 80px;
position: relative;
top: 30px;
color: rgb(255, 255, 255);

}

div {
display: flex;
align-items: flex-bas;
justify-content: center;
}

.card {
width: 700px;    /* Set the width of the box */
height: 500px;   /* Set the height of the box */
background-color: white;
border-radius: 40px;
position: relative;
top: 75px;
}

.button {
position: relative;
width: 115px;
height: 60px;
background-color: rgb(245, 255, 129);
box-shadow: 2px 2.5px rgb(78, 78, 78);
left: 987px;
bottom: 10px;
border-radius: 40px; 
}

.button:hover {
cursor: pointer;
background-color: rgb(255, 110, 175);
}

.button:active {
    box-shadow: none;
    
}






